.applications {
    &__title {
    color: var(--text-dark-grey);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
  }
}
  