.clients {
  &__title {
    color: var(--text-dark-grey);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }

  &__item {
    display: flex;
    width: calc(100% / 2 - 30px);
    @include tablet {
      width: calc(100% / 3 - 30px);
    }
    @include desktop {
      width: calc(100% / 6 - 30px);
    }
  }

  &__icon {
    display: flex;
    height: 92px;
    max-width: 100%;
    border: 1px solid var(--border-semi-grey);
    border-radius: 4px;
    fill: var(--icons-semi-grey);
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
      max-width: 170px;
    }
  }

  &__icon:focus,
  &__icon:hover {
    fill: var(--icons-blue);
    border: 1px solid var(--icons-blue);
    cursor: pointer;
  }
}
