.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item:not(:first-child) {
    margin-left: 8px;
  }

  &__button {
    color: var(--text-dark-grey);
    background-color: var(--bg-grey);
    border: none;
    font-size: 16px;
    line-height: 1.62;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:focus,
  &__button:hover {
    color: var(--text-white);
    background-color: var(--bg-blue);
    font-size: 16px;
    line-height: 1.62;
    font-weight: 500;
  }
}
