header {
  border-bottom: var(--border-header) 1px solid;
}

.page-header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.navig {
  flex-grow: 1;
  padding-left: 93px;
}

.navigation {
  display: flex;
  width: 254px;
  justify-content: space-between;

  &__link {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-dark-grey);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link--marked {
    position: relative;
    color: var(--text-blue);
  }

  &__link--marked::after {
    position: absolute;
    bottom: -32px;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background: var(--bg-blue);
    border-radius: 2px;
  }

  &__link:focus,
  &__link:hover {
    color: var(--text-blue);
  }
}

.contacts-header {
  display: flex;
  width: 295px;
  justify-content: flex-end;
  gap: 30px;
  flex-grow: 0.5;

  &__link:focus,
  &__link:hover {
    color: var(--text-blue);
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-grey);
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: var(--text-blue);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--text-blue);
  }

  &__icon {
    fill: var(--icons-grey);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
