header {
  border-bottom: var(--border-header) 1px solid;
  position: fixed;
  // z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-white);
}

.page-header {
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    min-height: 80px;
  }
  @include desktop {
    min-height: 80px;
  }
}

.navig {
  flex-grow: 1;
  padding-left: 93px;
  display: none;

  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
  }
}

.navigation {
  display: flex;
  width: 254px;
  justify-content: space-between;

  &__link {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-dark-grey);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link--marked {
    position: relative;
    color: var(--text-blue);
  }

  &__link--marked::after {
    position: absolute;
    bottom: -32px;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background: var(--bg-blue);
    border-radius: 2px;
  }

  &__link:focus,
  &__link:hover {
    color: var(--text-blue);
  }
}

.contacts-header {
  // width: 295px;
  // flex-grow: 0.5;
  display: flex;
  justify-content: center;
  gap: 30px;
  display: none;

  @include tablet {
    display: block;
  }
  @include desktop {
    display: flex;
  }

  &__link:focus,
  &__link:hover {
    color: var(--text-blue);
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-grey);
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: var(--text-blue);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--text-blue);
  }

  &__icon {
    fill: var(--icons-grey);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-container {
  position: absolute;
  top: 22px;
  right: 22px;

  &__icon {
    fill: var(--text-black);
  }

  &__icon:hover,
  &__icon:focus {
    fill: var(--icons-blue);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
