.menu-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: var(--bg-white);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transform: translateX(100%);

  &__button {
    position: absolute;
    top: 21px;
    right: 25.3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__icon:focus,
  &__icon:hover {
    fill: var(--icons-blue);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__navigation {
    padding-top: 48px;
    padding-left: 40px;
  }

  &__contacts {
    padding-top: 302px;
    padding-left: 40px;
  }

  &__social-media {
    display: flex;
    padding-left: 40px;
  }

  & li {
    margin-bottom: 32px;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.17;
    font-size: 40px;
    color: var(--text-dark-grey);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:focus,
  &__link:hover {
    color: var(--text-blue);
  }

  &.is-open {
    transform: translateX(0);
  }
}

.link--phone {
  font-size: 34px;
  color: var(--text-grey);
}

.link--email {
  font-size: 24px;
  color: var(--text-grey);
}

.link--sm {
  font-size: 18px;
  color: var(--text-blue);
  border-right: 1px var(--input-border-modal) solid;
  margin-right: 10px;
  padding-right: 10px;
}

.link--no-border {
  border: none;
}
