.services {
  padding-bottom: 94px;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }
    @include desktop {
      flex-basis: calc((100% - 3 * 30px) / 4);
    }
  }

  &__label {
    color: var(--text-dark-grey);
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
  }

  &__bg {
    background-color: var(--bg-grey);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}
