:root {
  --text-black: #000000;
  --text-dark-grey: #212121;
  --text-grey: #757575;
  --text-blue: #2196f3;
  --text-white: #ffffff;
  --bg-dark-grey: #2f303a;
  --bg-blue: #2196f3;
  --bg-blue-rgba: rgba(33, 150, 243, 0.9);
  --bg-blue-bright: rgb(61, 162, 246);
  --bg-grey: #f5f4fa;
  --bg-white: #ffffff;
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --border-grey: #eeeeee;
  --border-header: #ececec;
  --border-semi-grey: #afb1b8;
  --link-transparent-grey: rgba(255, 255, 255, 60%);
  --icons-grey: #757575;
  --icons-semi-grey: #afb1b8;
  --icons-white: #ffffff;
  --icons-blue: #2196f3;
  --icons-border: #0000001a;
  --icons-transparent-grey: rgba(255, 255, 255, 0.1);
  --label: rgba(47, 48, 58, 0.8);
  --input-placeholder-footer: rgba(255, 255, 255, 0.6);
  --input-placeholder-modal: rgba(117, 117, 117, 0.5);
  --input-border-modal: rgba(33, 33, 33, 0.2);
  --input-border-footer: rgba(255, 255, 255, 0.3);
}
